<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PyBase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
  </head>
  <body>
    <header id="fixedheader" role="banner">
      <div id="centerheader">
        <span class="headerspan">
          <h1>PyBase Stats</h1>
        </span>
      </div>
      <div id="headerlinks">
        <a href="/" class="here">HOME</a>
        <a href="/search">SEARCH</a>
        <a href="/entry">ENTRY</a>
      </div>
    </header>

    <div class="maincontent">


    </div>
  </body>
</html>
